body {
    background-image: url('coBG.jpg');
    background-size: cover; /* Resize the background image to cover the entire page */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Fix the background image in place while scrolling */
  }
  

  .form-group {
    margin-bottom: 20px;
    border: 5px solid #ccc; /* Add border around each form group */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Add box shadow effect */
    padding: 15px; /* Add padding inside each form group for spacing */
    background-color: rgba(255, 255, 255, 0.8); /* Set an opaque white background color */
    width: 50%;
}

  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;

  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff; /* Set button background color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for hover effect */
  
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Change background color on hover */
  }

  .footer {
    background: var(--text-alter-color);
    color: #f6f6f6;
    border-top: 2px solid #d1a670;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .footer-container .logo {
    color: var(--bg-color);
    margin-bottom: 1rem;
  }
  .footer-container .logo:hover {
    color: var(--bg-color);
  }
  .footer-container .footer-box {
    display: flex;
    flex-direction: column;
  }
  .social {
    display: flex;
    align-items: center;
  }
  .social a {
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
  }
  .social a:hover {
    color: #d1a670;
  }
  .footer-box h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .footer-box a,
  .footer-box p {
    color: #818181;
    margin-bottom: 10px;
  }
  .footer-box a:hover {
    color: #d1a670;
  }
  .copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-alter-color);
  }

  .contactUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
  }
  
  /* Center the form elements within the form */
  .contactUs .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px; /* Add some spacing between form groups */
  }
  

 
  