*{
    background-color: pink;
}

#product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  /* Updated CSS with border and shadow for product boxes */
  .product-item {
    width: 100%; /* Ensures each product spans the full width of its grid cell */
    border: 1px solid whitesmoke; /* Add border around each product box */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    padding: 15px; /* Add padding inside the product box for spacing */
  }
  
  
  
  
  .product-image {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    margin-right: 10px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .product-price {
    color: green;
  }
  
  .product-description {
    color: #333; /* Adjust text color as needed */
  }
  
  